body{
    background-color: #E0E0E0;
}

nav {
    background-color: #27cc06;
}

.content {
    margin-top: 30px;
}

.statistic {
    font-size: 3em;
    margin-top: 10px ;
}

.card {
    min-height: 250px;
}

.card-image {
    text-align: left;
    padding-left: 10%;
}

.activator{
    background-color: silver;
    font-family: "Roboto";
    font-size: 2em;
    text-align: center;
}

.sensors{
    text-align: left;
    font-size: 2em;
    margin-left: 2px ;
    margin-right: 0px ;
}

.titulo{
    
    font-weight: bold;
}